<%= content_for :body_id do 'castaways' end %>
<h1 class="text-center">Castaways</h1>
<span class="pull-right">
    <label for="spoilers">
        <input type="checkbox" name="spoilers" id="spoilers"/> Spoilers?
    </label>
</span>
<div id="jsGrid"></div>