<%= content_for :body_id do 'contestants-index' end %>
<h1>
  Contestants
  <span class="pull-right">
    <%= link_to 'New', new_contestant_path, :class => 'btn btn-primary btn-sm' %>
  </span>
</h1>

<hr/>
<div id="contestants-container" class="js-isotope"
     data-isotope-options='{ "layoutMode": "fitRows", "itemSelector": ".item" }'>
  <% @contestants.each do |c| %>
    <div class="item">
      <%= image_tag c.image_url, class: 'image' %>
    </div>
  <% end %>
</div>
