<h1>
  Tribes
</h1>
<hr/>
<div class="row tribe-container">
  <% @tribes.each do |t| %>
    <div class="col-xs-4">
      <div class="tribe-panel no-collar">
        <%= t.name %> <%= icon t.icon %>
        <% t.contestants.each do |c| %>
          <div>
            <%= c.name %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

