<h1 class="text-center">Ready to place your votes?!</h1>
<h3 class="text-center">You get to pick 10 males and 10 females from this list</h3>
<%= link_to 'VOTE', new_second_chance_vote_path,
            class: 'btn btn-primary btn-lg btn-block' %>
<h4 class="text-center">FEMALES</h4>
<%= image_tag 'second-chance-women.png', class: 'img-responsive' %>
<h4 class="text-center">MALES</h4>
<%= image_tag 'second-chance-men.png', class: 'img-responsive' %>
