<%= content_for(:body_id) do 'second-change-votes-results' end %>

<h1 class="text-center">Results!</h1>
<p class="lead"><i>The votes are in! Here is the distribution of votes</i></p>

<div id="chart" class="text-center"></div>
