<span class="pull-left hidden-xs">
    <%= link_to '< Back', users_path %>
</span>
<div class="hidden-xs">
    <h1 class="text-center">Player Info - Anthony</h1>
    <div class="col-sm-4">
        <img src="//fillmurray.com/420/420" alt="anthony" class="img-responsive center-block"/>
        <div class="text-center">
            <p><strong>Nickname:</strong> RustyVenture</p>
            <p><strong>Member Since:</strong> 2010</p>
            <p><strong>Rules Committee Member</strong></p>
        </div>
    </div>
</div>
<div class="visible-xs-block">
    <br/>
  <div class="col-xs-4">
      <img src="//fillmurray.com/420/420" alt="anthony" class="img-responsive"/>
  </div>
  <div class="col-xs-8">
      <h1>Anthony</h1>
  </div>
  <div class="clearfix"></div>
  <hr/>
  <div class="col-xs-12 text-center">
      <p><strong>Nickname:</strong> RustyVenture</p>
      <p><strong>Member Since:</strong> 2010</p>
      <p><strong>Rules Committee Member</strong></p>
  </div>
  <div class="clearfix"></div>
  <hr/>
</div>
<div class="col-xs-12 col-sm-8">
    <row>
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <h2 class="text-center">Betting Characters</h2>
            <div class="well text-center">
                <a href="#">Bayon</a>
                <a href="#">Bayon</a>
                <br/>
                <a href="#">Bayon</a>
                <a href="#">Bayon</a>
            </div>
        </div>
    </row>
    <row>
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <h2 class="text-center">Drinking Characters</h2>
            <div class="col-xs-6">
                <div class="well text-center">
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <a href="#">Bayon</a>
                        </li>
                        <li>
                            <a href="#">Bayon</a>
                        </li>
                        <li>
                            <a href="#">Bayon</a>
                        </li>
                        <li>
                            <a href="#">Bayon</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="well text-center">
                    <ul style="list-style: none; padding: 0;">
                        <li>
                            <a href="#">Bayon</a>
                        </li>
                        <li>
                            <a href="#">Bayon</a>
                        </li>
                        <li>
                            <a href="#">Bayon</a>
                        </li>
                        <li>
                            <a href="#">Bayon</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </row>
    <row>
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <h2 class="text-center">Characters Voted Out</h2>
            <div class="well text-center">
                <ul style="list-style: none; padding: 0;">
                    <li>
                        <a href="#">Bayon</a>
                    </li>
                    <li>
                        <a href="#">Bayon</a>
                    </li>
                    <li>
                        <a href="#">Bayon</a>
                    </li>
                    <li>
                        <a href="#">Bayon</a>
                    </li>
                </ul>
            </div>
        </div>
    </row>
</div>