<div class="chat text-left" style="margin-bottom: .5rem;"></div>
<form>
  <input type="text" id="chat-line" class="form-control"
         placeholder="Message"/>
  <button class="btn btn-primary send-chat form-control">Send</button>
</form>