<div class="col-xs-12 chat text-left" style="margin-bottom: .5rem;">
  <% messages.each do |cm| %>
    <p data-id="<%= cm.id %>"><%= cm.chat_format %></p>
  <% end %>
</div>
<form>
    <input type="text" id="chat-line" class="form-control"
           placeholder="Message"/>
    <button class="btn btn-primary send-chat form-control visible-xs-block visible-sm-block">Send</button>
</form>
<div class="hidden id" data-id="<%= id %>"></div>
