<h1>
  Episodes
  <span class="pull-right">
    <%= link_to 'New', new_episode_path, :class => 'btn btn-primary btn-sm' %>
  </span>
</h1>

<hr/>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-xs-2">Name</th>
      <th>Voted Out</th>
      <th>Knocked Out of Pool</th>
      <th class="col-xs-1">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @episodes.each do |e| %>
      <tr>
        <td><%= link_to e.name, episode_path(e) %></td>
        <td></td>
        <td></td>
        <td>
          <%= link_to 'Edit', edit_episode_path(e), :class => 'btn btn-primary btn-xs' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
