<h1>
  Episodes
  <span class="pull-right">
    <%= link_to 'New', new_episode_path, :class => 'btn btn-primary btn-sm' %>
  </span>
</h1>

<hr/>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Winner</th>
      <th>Pool Winner</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @episodes.each do |s| %>
      <tr>
        <td><%= link_to s.name, episode_path(s) %></td>
        <td><%= s.name %></td>
        <td>s.winner</td>
        <td>s.pool_winner</td>
        <td>
          <button class="btn btn-default btn-xs">Action</button>
          <%= link_to 'Edit', edit_episode_path(s), :class => 'btn btn-primary btn-xs' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
