<div class="jumbotron">
  <h1>Test</h1>
</div>

<div class="col-xs-6 col-xs-offset-3 text-center">
  <div class="chat" id="main-page-chat">

  </div>
</div>
<div class="col-xs-2">
  <input type="text" id="chat-line"/>
  <button class="btn btn-primary send-chat">Send</button>
</div>