<div class="jumbotron text-center">
  <h1>Survivor Club</h1>
  <h2 class="text-muted">We are so cool</h2>
</div>
<div class="col-xs-6 col-xs-offset-3 text-center">
  <p>Progress on the site:</p>
  <%= progress_bar percentage: 33, animated: true %>
</div>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-left">
    <div class="chat" id="main-page-chat"
         style="">

    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-4 col-xs-offset-5 text-left">
    <form class="form-inline">
      <input type="text" id="chat-line" class="form-control"
             placeholder="Message"/>
      <button class="btn btn-primary send-chat">Send</button>
    </form>
  </div>
</div>
