<div class="jumbotron text-center">
  <h1>Survivor Club</h1>
  <h2 class="text-muted">We are so cool</h2>
</div>
<div class="col-sm-6 col-sm-offset-3 col-xs-12 text-center">
  <p>Progress on the site:</p>
  <%= progress_bar percentage: 33, animated: true %>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12 text-left">
    <div class="chat large"></div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12 text-right">
    <form class="form-inline">
      <input type="text" id="chat-line" class="form-control"
             placeholder="Message"/>
      <button class="btn btn-primary send-chat form-control">Send</button>
    </form>
  </div>
</div>
