# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$(document).ready ->
  if $('.chat').length > 0
    replaceFunction = (autolinker, match) ->
      isImage = match.getUrl().indexOf('.gif') != -1
      isImage = isImage || match.getUrl().indexOf('.jpg') != -1
      isImage = isImage || match.getUrl().indexOf('.png') != -1
      isImage = isImage || match.getUrl().indexOf('.jpeg') != -1

      tag = null
      switch match.getType()
        when 'url'
          console.log 'url: ', match.getUrl()
          if isImage
            tag = autolinker.getTagBuilder().build(match)
            tag.tagName = 'img'
            tag.setAttr 'src', match.getUrl()
            tag.innerHtml = ''
            return tag
          else if match.getUrl().indexOf('mysite.com') == -1
            tag = autolinker.getTagBuilder().build(match)
            # returns an `Autolinker.HtmlTag` instance, which provides mutator methods for easy changes
            tag.setAttr 'rel', 'nofollow'
            tag.addClass 'external-link'
            return tag
          else
            return true
      # let Autolinker perform its normal anchor tag replacement
        when 'email'
          email = match.getEmail()
          console.log 'email: ', email
          if email == 'my@own.address'
            return false
            # don't auto-link this particular email address; leave as-is
          else
            return
      # no return value will have Autolinker perform its normal anchor tag replacement (same as returning `true`)
        when 'twitter'
          twitterHandle = match.getTwitterHandle()
          console.log twitterHandle
          return '<a href="http://newplace.to.link.twitter.handles.to/">' + twitterHandle + '</a>'
      return

    dispatcher = App.globals.dispatcher
    dispatcher.unbind 'send_chat'
    dispatcher.bind 'send_chat', (data) ->
      chat = $(".chat")
      message = Autolinker.link(data.message, {
        replaceFn: replaceFunction
      })
      chat.append(
        "<p data-id='#{data.id}''>
          #{data.user}: #{message}
        </p>"
      )
      chat.scrollTop(chat[0].scrollHeight)

    $('.send-chat').off 'click'
    $('.send-chat').on 'click', (e)->
      console.log 'clicked send-chat'
      e.preventDefault()
      target = $(e.target)
      dispatcher.trigger('send_chat',
                         {
                            message: $("#chat-line").val(),
                            user: App.globals.user.name,
                            user_id: App.globals.user.id,
                            id: $(".id").data("id")
                         }
      )
      $("#chat-line").val('')
