# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$(document).ready ->
  if $('.chat').length > 0
    dispatcher = App.globals.dispatcher
    dispatcher.unbind 'send_chat'
    dispatcher.bind 'send_chat', (data) ->
      chat = $(".chat")
      chat.append(
        "<p>#{data.user}: #{data.message}</p>"
      )
      chat.scrollTop(chat[0].scrollHeight)

    $('.send-chat').off 'click'
    $('.send-chat').on 'click', (e)->
      console.log 'clicked send-chat'
      e.preventDefault()
      target = $(e.target)
      dispatcher.trigger('send_chat', {message: $("#chat-line").val(), user: App.globals.user.name})
      $("#chat-line").val('')
