# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$(document).ready ->
  if $("body#game_day").length > 0
    replaceFunction = (autolinker, match) ->
      isImage = match.getUrl().indexOf('.gif') != -1
      isImage = isImage || match.getUrl().indexOf('.jpg') != -1
      isImage = isImage || match.getUrl().indexOf('.png') != -1
      isImage = isImage || match.getUrl().indexOf('.jpeg') != -1

      tag = null
      switch match.getType()
        when 'url'
          console.log 'url: ', match.getUrl()
          if isImage
            tag = autolinker.getTagBuilder().build(match)
            tag.tagName = 'img'
            tag.setAttr 'src', match.getUrl()
            tag.innerHtml = ''
            return tag
          else if match.getUrl().indexOf('mysite.com') == -1
            tag = autolinker.getTagBuilder().build(match)
            # returns an `Autolinker.HtmlTag` instance, which provides mutator methods for easy changes
            tag.setAttr 'rel', 'nofollow'
            tag.addClass 'external-link'
            return tag
          else
            return true
      # let Autolinker perform its normal anchor tag replacement
        when 'email'
          email = match.getEmail()
          console.log 'email: ', email
          if email == 'my@own.address'
            return false
            # don't auto-link this particular email address; leave as-is
          else
            return
      # no return value will have Autolinker perform its normal anchor tag replacement (same as returning `true`)
        when 'twitter'
          twitterHandle = match.getTwitterHandle()
          console.log twitterHandle
          return '<a href="http://newplace.to.link.twitter.handles.to/">' + twitterHandle + '</a>'
      return

    chat = $ ".chat"
    episode_countdown = $ ".episode-countdown"
    air_date = episode_countdown.data "date"
    air_date_with_time = moment(air_date).local().hour(20).toDate()

    if moment() > moment(air_date).local().hour(20)
      $(".started").html("STARTED").addClass("text-success bolder")
    else
      episode_countdown.countdown {
        until: air_date_with_time,
        layout: "{dn}d {hnn}:{mnn}:{snn}"
      }

    chat_body = Autolinker.link(chat.html(), { replaceFn: replaceFunction })
    console.log chat_body
    chat.html(chat_body)
