/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require sweetalert2
 *= require c3
 *= require_self
 */

@import "bootswatch/flatly/variables";
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import 'variables';
@import "bootstrap";

@import "bootswatch/flatly/bootswatch";

@import "animate";
@import "animate/pulse";
@import "animate/fadeInUp";
@import "animate/fadeOutUp";

.textfill {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.navbar-brand {
  padding: 4px 15px 20.5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-center {
  text-align: center;
}
row {
  @include make-row();
  display: block;
}
.mobile-nav-link {
  padding-top: 10px;
}
@media (max-width: 768px) {
  .visible-xs-table {
    display: table !important;
  }
}
@media (min-width: 768px) {
  .visible-xs-table {
    display: none !important;
  }
}
