// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;

  &#main-page-chat {
    height: 200px;
    overflow: auto;
  }
}