.contestants-panel {
  height: 380px;
  overflow: auto;
  @media(max-width: 768px) {
    height: 150px;
  }
}

.contestant-table {
  height: 375px;
  overflow: auto;
  @media(max-width: 768px) {
    height: 250px;
  }
}

.draft-chat {
  font-size: 12px;
}

.character-row {
  cursor: pointer;
}
