// Place all the styles related to the tribe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tribe-container {
  .tribe-panel {
    box-shadow: 0 1px 2px #000;
    border-radius: 3px;
    height: 200px;
    padding: 1rem;
    color: #fff;

    &:hover {
      border: 2px solid #f00;
    }

    &.no-collar {
      background-color: #808080;
    }

    &.blue-collar {
      background-color: #00f;
    }

    &.white-collar {
      background-color: #fff;
      color: #000;
    }
  }
}