<div class="row">
  <div class="col-xs-12 contestant-table">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Tribe</th>
      </tr>
      </thead>
      <tbody>
      <% contestants.try(:each) do |c| %>
        <tr class="character-row" data-id="<%= c.id %>">
          <td><%= c.name %></td>
          <td><%= c.tribe_for_season(@draft.season_id) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>